body {
    background-color: #404749;
}
h4 {
	font-family:arial;
	margin-top: 3px;
	margin-bottom: 3px;
	color: #A9B0B3;
}
h1 {
	text-align: center;
	font-family:arial;
	margin-top: 3px;
	margin-bottom: 3px;
	color: white;
}


.thumbnail { 
	background-color: #030C22;
	padding: 4px;
	border: #fff;

	margin: 20px;
		margin-top: 40px;
	border: 10px;
}

.thumbnail:active {
  transition-duration: 50ms;
  background: white;   
}

.thumbnails { 
	text-align:center; 
	padding: 0px;
}
.thumbnails > li { 
	display: inline-block;
	float: none; 
}
.aboutme {
	cursor: pointer;
}
.aboutme.white > h4{
	color: white;
}
.resume {
	cursor: pointer;
}
.resume.white > h4{
	color: white;
}
.contact {
	cursor: pointer;
}
.contact.white > h4{
	color: white;
}


.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#20293F), to(#404749));
}
